---
layout: default

---
<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        {{ post.content }}
        <small>{{ post.date | date: "%Y-%m-%d" }} | 
          {% if post.tags.size > 0 %} 
            tags: {{ post.tags | sort | join: ", " }} | 
          {% endif %} 
          <a href="{{ site.baseurl }}{{ post.url }}">permalink</a>
        </small>
      </div>
      <br/><hr/><br/>
    </article>
  {% endfor %}
</div>
